{% extends 'base.html'%}
{% block title %}
    Manage Admin
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            <br><br>
            <h1 class="h3 mb-3 font-weight-normal">
                Enter Admin Details
            </h1>
                Name:<input type="text" name="name" />
                <br><br>

                Email:  <input type="email" name="email"/>
                <br><br>
                <input class="btn btn-outline btn-info" type="submit" value="ADD" >

        </form>
    </div>
</body>
{% endblock %}